body
{
    margin:0;
    font-family: aria, sans-serif;
    font-size: 0,9em;
}

a
{
    margin: 8px;
    text-decoration: none;
    color: black;
}

span
{
    margin: 8px;
    text-decoration: none;
    color: rgb(124, 118, 118);  
}

a:hover
{
    text-decoration: underline;
}

nav
{    
    display: flex;
    justify-content: space-between;   
}

.header-right
{
    display: flex;
    position: absolute;
    top:2px;
    right: 20px;   
}


h1
{
    font-family: 'Poppins', sans-serif;
    letter-spacing: -20px;
    
    font-size: 5.5em;
    font-style: normal;

}

img
{
    width: 280px;
    display: block;
    margin: 0 auto;
    margin-top: 170px;
}
section
{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: -1vh;    
}
.lb-srch
{
   
    width: 510px;
    height: 30px;
    outline: none;
    margin-left: -5px;
    outline: none;
    border: none;
    padding-top: 2px;
}

.img-search
{
     
    width: 440px;
    height: 30px;
    outline: none;
    margin-left: -2px;
    outline: none;
    border: none;
    padding-top: 2px;
}


.Search-input 
{
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 40px;
    border: 1px solid gainsboro;
    border-radius: 20px;
    margin-top: 20px;
 }

.Search-input:hover 
{
    box-shadow: 0 0 10px 0 gainsboro;
}

.Search-input>input 
{
    flex-grow: 1;
    border: none;
    outline: none;
}


.my-button
{
    padding-top: 25px; 
    justify-content: space-between;     
}


button
{
   
    background-color: ghostwhite;
    border-radius: 5px;
    border:none;
    height: 36px;
    padding: 0 20px;
    margin: 0 4px;
}

button:hover
{
    cursor: pointer;
    box-shadow: 0 0 10px gainsboro;
}

footer
{
    background-color:#F2F2F2;
    position: fixed;
    bottom: 0;
    width: 100vw;
    font-size: 15px;
}

#footer-row
{
    justify-content: space-between;
    padding: 0px 5px;
    border-top:0.5px solid rgb(184, 178, 178);    
}

#footer-left-center 
{
    padding-left: 20px;
    align-items: center;     
}

a
{
    
    color: gray;    
}

#footer-left 
{
    display: flex;
    justify-self: start;
    padding-left: 20px;
    align-items: center;
    color: gray;
   
}


#footer-right
{   
    
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;  
    align-items: center;  
}
.vaizdai
{
    text-align: center;
    color: rgb(175, 69, 69);
    margin-left: 240px;
    margin-top: -80px;
}

h3
{
    color: rgba(224, 17, 17, 0.925);
    margin-left: 40px;
    margin-top: 70px;
    
}
p
{
    margin-left: 40px;
    margin-top: 70px;

}
 
label
{
    width: 200px;
    display: inline-block;
    margin-left: 40px;
    
}
.lb
{
    width: 500px;
    height: 25px;
    margin: 5px;
    
     
}
.btn
{
    background-color: #4d90fe;
    color: white;
    border-radius: 0px;
    border: 1px solid rgb(49, 66, 216);
    margin-left: 620px;
    margin-top: 25px;
    
}